<app-navbar></app-navbar>

<div style="color:rgb(4, 4,76);background-color: rgb(255, 245, 233); ">
  <div style="background-color:rgb(186, 145, 101); ">
  <hr /><h1 align="center" style="color:rgb(245, 245, 249) ">KUDUMBASREE LOAN DETAILS</h1><hr />
  </div >
  <div class="container">
      <div class="row g-5">
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" style="width: 35rem;">
                  <img src="assets/loan1.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Personal Loan</h5>
                    <p class="card-text">Amount:2 lakhs</p>
                    <p class="card-text">Interest:4 percent</p>
                    <p class="card-text">Duration:8 Months</p>
                    <a href="#" class="btn btn-primary">APPLY</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" style="width: 35rem;">
                  <img src="assets/loan2.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Home Loan</h5>
                    <p class="card-text">Amount:2 lakhs</p>
                    <p class="card-text">Interest:0 percent</p>
                    <p class="card-text">Duration:2 year</p>
                    <a href="#" class="btn btn-primary">APPLY</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" style="width: 35rem;">
                  <img src="assets/loan3.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Personal Loan</h5>
                    <p class="card-text">Amount:5000 to 20000</p>
                    <p class="card-text">Interest:3 percent</p>
                    <p class="card-text">Duration:5 months</p>
                    <a href="#" class="btn btn-primary">APPLY</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" style="width: 35rem;">
                  <img src="assets/loan4.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Mudra Loan</h5>
                    <p class="card-text">Amount:upto 10 lakhs</p>
                    <p class="card-text">Interest:0 percent</p>
                    <p class="card-text">Duration:1 year</p>
                    <a href="#" class="btn btn-primary">APPLY</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" style="width: 35rem;">
                  <img src="assets/loan5.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Educational Loan</h5>
                    <p class="card-text">Amount:35000</p>
                    <p class="card-text">Interest:2 percent</p>
                    <p class="card-text">Duration:5 months</p>
                    <a href="#" class="btn btn-primary">APPLY</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" style="width:35rem">
                  <img src="assets/loan6.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Business Loan</h5>
                    <p class="card-text">Amount:upto 3 lakhs</p>
                    <p class="card-text">Interest:4 percent</p>
                    <p class="card-text">Duration:8 months</p>
                    <a href="#" class="btn btn-primary">APPLY</a>
                  </div>
                </div>
          </div>
      </div>
  </div>
  </div>
  
  